{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="container">
                    <div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
                        <h2 class="title text-center">تمـاس با مـا</h2>
                        <div id="gmap" class="contact-map">
                            <img src="{% static 'images/home/Map.jpg' %}" alt="Map"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" action=""
                              method="post">
                            {% csrf_token %}
                            <div class="form-group col-md-6">
                                {{ contact_form.full_name }}
                                {% for error in contact_form.full_name.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                {{ contact_form.email }}
                                {% for error in contact_form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-12">
                                {{ contact_form.subject }}
                                {% for error in contact_form.subject.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-12">
                                {{ contact_form.text }}
                                {% for error in contact_form.text.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">اطلاعات تماس</h2>
                        <address>
                            <p>{{ setting.siteTitle }}</p>
                            <hr>
                            <p>آدرس: {{ setting.address }}</p>
                            <hr>
                            <p>تلفن تماس : <a href="tel:{{ setting.phone }}">{{ setting.phone }}</a></p>
                            <p>موبایل : <a href="tel:{{ setting.mobile }}">{{ setting.mobile }}</a></p>
                            <p>فکس : <a href="tel:{{ setting.fax }}">{{ setting.fax }}</a></p>
                            <p style="font-family: tahoma;">ایمیـل : <a href="mailto:{{ setting.email }}">{{ setting.email }}</a></p>
                        </address>
                        <div class="social-networks">
                            <h2 class="title text-center">شبکـه های اجتـماعی</h2>
                            <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="{% static 'images/product-details/Bale.png' %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="{% static 'images/product-details/Soroush.png' %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static 'images/product-details/Instagram.png' %}"/>
											</li>
										</a>
									</ul>
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
{% endblock %}